@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit";
  src: url("./assets/fonts/Outfit-SemiBold.ttf");
}

*{
  padding: 0;
  margin: 0;
  font-family: "outfit";
}


body{
  background: #406AFF url("./assets/Hero-Background-notecode.svg") no-repeat;
  height: 178vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


